[project]
name = "schema-utils"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "pydantic>=2.12.4",
]

[dependency-groups]
dev = [
    "black>=25.11.0",
    "ipython>=9.7.0",
    "pytest>=9.0.1",
]
